* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: rgb(240, 234, 234);
}

.container {
  padding: 0 1rem;
}

.todoBlock {
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  border: 1px solid #777;
  border-top: none;
  background-color: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #777;
}

a {
  color: #333;
  text-decoration: none;
}
